*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;;
}
section:after{
  content: "";
  display: table;
  clear: both;
}

.proposte, .immagine-spiegazione, #anonima{
  border-bottom: 2px solid #999;
  padding: 80px 0px;

}
.riga_grigia{
  width: 100%;
  background-color: #f9f9f9;
  padding: 40px 20px 30px;
}

.titoli2s{
  text-align: center;
  font-size: 18px;
}
.contenitore_offerte{
  padding: 20px 60px;

}
#prop1 .offerte{
  text-align: center;
  width: 33.3333%;
  float: left;
}
#prop1 .offerte>img {
  height: 150px;
}
#prop1 .offerte>h4{
  font-size: 21px;
  color: #7fb802;
}
#prop1 .offerte>hr{
  width: 35px;
  height: 2px;
  margin: 10px auto;
}
#prop1 .offerte>p{
  font-size: 16px;
  color: #999;
}
section:after{
  content: "";
  display: table;
  clear: both;
}
.immagine-spiegazione>*{
  color: #4a4a4a;
  float: left;
  font-size: 22px;
}

.spiegazione , .immagine-esplicativa{
  width: 50%;
  padding: 0px 8vw;
  /* DEBUG:  */
  /* height: 300px;
  background-color: lightblue; */
}
.spiegazione>div>p{
  margin: 20px 0px;
  font-size: 18px;
}
.spiegazione>div>a{
  font-size: 16px;
  margin-top: 10px;
  color: #98c8f8;
}

.piede{
  width: 50%;
  float: left;
  padding-left: 6vw;
}
.piede *{
display: inline-block;
}
.immagine-esplicativa>img{
  margin: auto;
  width: 417px;
}
.titoli3s{
  padding: 80px 0px;
}
.titoli4{
  font-size: 26px;
}
#genitore1_2, .interazione{
  float: left;
  color: #4a4a4a;
  font-size: 18px;
  height: 50px;
  border: none;
  width: 200px;
}
#genitore1_2{
  background-color: #f9f9f9;
  box-shadow: 0px 3px rgba(0,0,0,0.2);

}
.interazione{
  background-color: #7fb802;
  color:white;
  border-radius: 5px;
}
.spiegazione>div>h6{
  text-align: center;
  font-size: 16px;
  color: #98c8f8;
  padding-top: 10px;
}


.proposte{
  border-bottom: 2px solid #999;
}
#immspieg2{
  padding: 140px 0px;
}

#anonima{
  color: #4a4a4a;
  font-size: 24px;
  padding: 45px 0px;
 }
#anonima img{

  width: 600px;
}
#anonima div{
  padding: 20px 0;
  text-align: center;
}
.titoli6{
  margin: auto;
  width: 600px;
}
.titoli6> *{
  padding-bottom: 20px;
}
.titoli6 span{
  color: #7fb802;
}
.titoli6 a{
  font-size: 20px;
  color: #98c8f8;
  padding-top: 10px;
}
#prop2{
  padding: 80px 17.5vw;
}
#prop2 .offerte{
  width: calc(33.3% - 2vw);
  text-align: left;
  float: left;
  color: #4a4a4a;
  margin-right: 2vw;

}

#prop2 h3{
  font-size: 30px;
}
#prop2 img{
  margin: 20px 0px;
  height: 37px;
}
#prop2 .offerte *{
  font-size: 18px;
  margin-top: 20px;
}

#prop2 div a:nth-child(1){
  color:#98c8f8;
}
#prop2 .offerte>hr{
  margin: 10px auto;
  border: 2px solid #98c8f8;
}
#prop2 .offerte:nth-child(3)>hr{
  border: 2px solid #f8b71c;

}
#prop2 .offerte:nth-child(4)>hr{
  border: 2px solid #7fb802;
}
#prop2 .offerte:nth-child(2)>a{
  color: #98c8f8;
  font-size: 1.2em;
}
#prop2 .offerte:nth-child(3)>a{
  color: #f8b71c;
  font-size: 1.2em;
}
#prop2 .offerte:nth-child(4)>a{
  color: #7fb802;
  font-size: 1.2em;
}
